body {
    font-size: 25px;
    line-height: 1.5;
    font-family: "Oswald", "Helvetica Neue";
    color: #2884C3;
    background-color: #e9e9e9;
}

h1,
h2 {
    text-align: center;
    color: #2884C3;
}

h1 {
    font-size: 72px;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

form {
    margin: 30px;
}

input {
    margin: 5px;
    height: 30px;
    font-size: 20px;
}

.blue-button {
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #3498db;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin: 20px;
    height: 50px;
}

.blue-button:hover {
    background: #3cb0fd;
}
